
<div class="container">
    <div class="row" style="padding-left:900px;">
        <button type="button" class="btn btn-primary waves-light" (click)="form.show()" mdbRippleRadius><i class="fa fa-plus-square" aria-hidden="true"></i> Add new Student</button>
    </div>
    <div class="row align-center">
        <h4><strong><span style="color:red">S</span><span style="color:black">tudent List</span></strong></h4>
        <table class="table table-condensed">
            <thead class="mdb-color darken-3">
            <tr class="text-white">
                <th>RollNo</th>
                <th>Name</th>
                <th>Class</th>
                <th>Age</th>
                <th>Section</th>
                <th>Address</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr class="success" *ngFor="let e of studentList | paginate: { itemsPerPage: 5, currentPage: p }">
                <td>{{e.Id}}</td>
                <td>{{e.Name}}</td>
                <td>{{e.Class}}</td>
                <td>{{e.Age}}</td>
                <td>{{e.Section}}</td>
                <td>{{e.Address}}</td>
                <td (click)="showForEdit(e)"><a class="teal-text" (click)="form.show()"><i class="fa fa-pencil"></i></a>
                <a class="red-text" (click)="onDelete(e.Id)"><i class="fa fa-times"></i></a></td>
                <!-- <td><a (click)="ShowRegForm(e)">Edit</a></td>
                <td><a (click)="ShowRegFormForDelete(e)">Delete</a></td> -->
                </tr>
            
            </tbody>  

        </table>
        <nav class="my-4">
                <ul class="pagination pagination-circle pg-blue mb-0">
                    <li class="page-item">
                        <a><pagination-controls (pageChange)="p = $event"></pagination-controls></a></li>
                </ul>
        </nav>
    </div>
</div>           

 

<!--Modal: Contact form-->
<div mdbModal #form="mdb-modal" class="modal fade" id="modalContactForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog cascading-modal" role="document">
        <!--Content-->
        <div class="modal-content">

            <!--Header-->
            <div class="modal-header light-blue darken-3 white-text">
                <h4 class="title"><i class="fa fa-pencil"></i>Save Student Detail</h4>
                <button type="button" class="close waves-effect waves-light" data-dismiss="modal" aria-label="Close" (click)="form.hide();f.reset();">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <!--Body-->
            <form #f="ngForm" (ngSubmit)="onSubmit(f);f.reset();" novalidate>
                <div class="modal-body mb-0">
                        <input type="hidden" id="form3" name="Id"class="form-control" mdbActive  [(ngModel)]="selectedStudent.Id">
                    <div class="md-form form-sm">
                        <i class="fa fa-user prefix"></i>
                        <input mdbActive type="text" id="form19" name="Name" class="form-control" [(ngModel)]="selectedStudent.Name">
                        <label for="form19">Name</label>
                    </div>
                    <div class="md-form form-sm">
                        <i class="fa fa-graduation-cap prefix"></i>
                        <input mdbActive type="text" id="form19" name="Class" class="form-control" [(ngModel)]="selectedStudent.Class">
                        <label for="form19">Class</label>
                    </div>

                    <div class="md-form form-sm">
                        <i class="fa fa-lock prefix"></i>
                        <input mdbActive type="password" id="form20" name="Age" class="form-control" [(ngModel)]="selectedStudent.Age">
                        <label for="form20">Age</label>
                    </div>

                    <div class="md-form form-sm">
                        <i class="fa fa-tag prefix"></i>
                        <input mdbActive type="text" id="form21" name="Section" class="form-control" [(ngModel)]="selectedStudent.Section">
                        <label for="form21">Section</label>
                    </div>

                    <div class="md-form form-sm">
                        <i class="fa fa-address-card prefix"></i>
                        <textarea mdbActive type="text" id="form8" name="Address" class="md-textarea mb-0" [(ngModel)]="selectedStudent.Address"></textarea>
                        <label for="form8">Address</label>
                    </div>

                    <div class="text-center mt-1-half">
                        <button class="btn btn-info mb-2 close waves-effect waves-light" mdbRippleRadius data-dismiss="modal" aria-label="Close" (click)="form.hide()">Save Changes<i class="fa fa-send ml-1"></i></button>
                    </div>

                </div>
            </form>
        </div>
        <!--/.Content-->
    </div>
</div>
<!--Modal: Contact form-->
                   
