<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">


</head>
<body>
<div class="row">
  <div class="column">
    <div class="card">
      <img src="https://www.w3schools.com/w3images/team3.jpg" alt="Jane" style="width:100%">
      <div class="container">
        <h2>Jane Doe</h2>
        <p class="title">CEO & Founder</p>
        <p>Some text that describes me lorem ipsum ipsum lorem.</p>
        <p>example@example.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="https://www.w3schools.com/w3images/team1.jpg" alt="Mike" style="width:100%">
      <div class="container">
        <h2>Mike Ross</h2>
        <p class="title">Art Director</p>
        <p>Some text that describes me lorem ipsum ipsum lorem.</p>
        <p>example@example.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>
  <div class="column">
    <div class="card">
      <img src="https://www.w3schools.com/w3images/team2.jpg" alt="John" style="width:100%">
      <div class="container">
        <h2>John Doe</h2>
        <p class="title">Designer</p>
        <p>Some text that describes me lorem ipsum ipsum lorem.</p>
        <p>example@example.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>
</div>
<div class="container">
	<h3>Staff List</h3>
	 <table id="Happy" class="table table-condensed">
	   <thead>
		 <!-- <tr>
		   <td>    </td>
		   <td>     </td>
		   <td>     </td>
		   <td>     </td>
		   <td>  <a (click)="ShowRegForm(e)">Add New</a></td>
		 </tr> -->
		 <tr>
		   <th>Name</th>
		   <th>Position</th>
		   <th>Office</th>
		   <th>Age</th>
		   <th>StartDate</th>
		   <th>Salary</th>
		 </tr>
	   </thead>
	   <tbody>
		 <tr class="success" *ngFor="let e of staffList ">
		   <td>{{e.Name}}</td>
		   <td>{{e.Office}}</td>
		   <td>{{e.Office}}</td>
		   <td>{{e.Age}}</td>
		   <td>{{e.StartDate}}</td>
		   <td>{{e.Salary}}</td>
		   <!-- <td><a (click)="ShowRegForm(e)">Edit</a></td>
		   <td><a (click)="ShowRegFormForDelete(e)">Delete</a></td> -->
		 </tr>
	   </tbody>
	 </table>
   </div>
  
</body>
</html>
